$size: 300px;

body {
	background: #454a59;
}

#container {
  // Center contents
  display: flex;
  justify-content: center;
  align-items: center;


  
  width: $size;
  height: $size;

  // Center on screen
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#status {

  color: black;
  font-size: 2.5em;
  
  position: relative;
  width: auto;
  height: $size;
  
  pointer-events: none;

  display: flex;
  align-items: center;
  text-align: center;

  z-index: 2;
}

#disconnected {

  color: black;
  font-size: 2.5em;
  
  position: absolute;
  width: auto;
  height: $size;
  
  display: flex;
  align-items: center;
  text-align: center;

  z-index: 3;
}


.button-bg {
  position: absolute;
  background-color: white;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  z-index: 0;

  box-sizing: border-box;

  box-shadow: 0 0 12px rgba(0,0,0,.3);
}

.button-bg-connecting {
  background-color: green;
  animation: pulse-dot 1.25s cubic-bezier(0.455, 0.03, 0.515, 0.955) -.4s infinite;
}

#indicators {
  position: absolute;
  //background-color: yellow;
  width: 95%;
  height: 95%;
  z-index: 1;
}

#meters {
  position: absolute;
  width: 100%;
  height: 100%;

  z-index: 0;
}

#meterinfo {
  position: absolute;
  width: 100%;
  height: 100%;

  z-index: 1;
}

#mic {
  width: 50%;
  height: 100%;

  // Center contents
  display: flex;
  justify-content: center;
  align-items: center;


  float: left;
}

#sound {
  width: 50%;
  height: 100%;

  // Center contents
  display: flex;
  justify-content: center;
  align-items: center;
  

  float: right;
}

#micmeter {
  width: 50%;
  height: 100%;
  background-color: red;


  // Left half-circle
  border-bottom-left-radius: $size * 2;
  border-top-left-radius: $size * 2;



  // Center contents
  display: flex;
  justify-content: center;
  align-items: center;


  float: left;
}

#soundmeter {
  width: 50%;
  height: 100%;
  background-color: blue;


  // Right half-circle
  border-bottom-right-radius: $size * 2;
  border-top-right-radius: $size * 2;

  // Center contents
  display: flex;
  justify-content: center;
  align-items: center;
  

  float: right;
}

@keyframes pulse-dot {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}